.vscode
output
*.log
*.aux
*.tex
logs
dataset
tex
png_dataset
png_dataset.zip
png_dataset_backup
png_training_data
writtenPNGdata
*.zip
dataset_backup
archive
dataset_with_classes
trained_model
.ipynb*
__*
dataset_with_classes_arrows_and_equal
dataset_4*
saved_model
exported_model
